body {
    color: #000000;
    background: #B5A48B;
    font-size: 14px;
    font-family: Courier New;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    min-width: 800px;
    min-height: 600px;
    width: 99%;
    height: 98%;
}

div {
    margin: 0px;
    padding: 0px;
}

a {
    color: inherit;
    text-decoration: none;
}

.hexbutton {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid white;
    background: inherit;
    float:right;
    padding-left:2px;
    padding-right:2px;
    margin-top:2px;
    margin-right:3px;
    font-size:11px;
}

/*
    Wrappers - To determine the general shape
     _______   ______________
    | shell | | content      | < Content is divided into two (vertical) halves
    |       | |              |   (bitmap and data -> data has boxes inside)
    |       | |              |
    |       | |              |
    |       | |              |
    |       | |              |
    |       | |              |
    |_______| |______________|

*/

.wrapper {
    width: 100%;
    height: 99%;
}

.shellwrapper {
    width: 15%;
    height: 100%;
    float: left;
}

.contentwrapper {
    width: 83%;
    height: 100%;
    float: left;
    padding-left: 10px;
}


.bitmapwrapper {
    height: 20%;
    width: 100%;
    display:inline-block;
}

.datawrapper {
    height: 77%;
    width: 100%;
    display:inline-block;    
}

/*
    Shell code
*/
.shellbox {
    background: #855934;
    color: white;
    height:auto;
    width:auto;
    overflow: hidden;
}


.shellcontent{
    background:#383838;
    color: #FFFFFF;
    height:auto;
}

.shelloutput{
    overflow-y: auto;
    overflow-x: hidden;
    word-wrap:break-word;
    padding-left:5px;
    padding-right:5px;
    height: 90%;
}

.shellcommand{
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 1px;
}

.command {
    background: inherit;
    color: inherit;
    border:0;
    width: 76%;
}

input {
    background: #383838;
}

/*
    Bitmap code
*/

.bitmap {
    color: white;
    background: #9C7A4B;
    width: 40%;
    margin-right: 10px;
    margin-left: 10px;
    float: left;
    overflow: hidden;
}

.bitmapcontent{
    color: black;
    background:#C9A775;
    overflow-y: auto;
    overflow-x: hidden;
    word-wrap:break-word;
    padding: 5px;
    height: 85%;
}
/* 
    Shadow - for usage with bitmap, shell and 'box'
*/
.window{
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    /* box-shadow */
    -webkit-box-shadow: rgba(87,61,19,2) 0 0 8px;
    -moz-box-shadow: rgba(87,61,19,2) 0 0 8px;
    box-shadow: rgba(87,61,19,2) 0 0 8px;
}


.blank{
    width:100%;
    height: 20px;
}


/*
    Box - contains datablocks and inodes
    (Usage: Box itself should only have the title a boxcontent div inside)
*/

.box {
    width:20%;
    float:left;
    margin-left:40px;
    background: #9C7A4B;
    color: #FFFFFF;
    font-size:16px;
    overflow: hidden;
    height: auto;
}

/*
    Boxcontent - for usage within box
*/
.boxcontent{
    color: white;
    background: #BA9661;
    top:-10px;
    font-size: 12px;
    min-height: 430px;
}

.data{
    overflow-y: auto;
}

.metadata{
    padding: 5px;
}

/*
    Block pointers for usage in inodes
*/


.blockpointer{
    text-align: center;
    color: #F9E8D1;
    padding-top:2px;
    padding-bottom:2px;
}

.blockpointer:hover{
    background: #8C6938;
    color: #FFFFFF;
}

.odd{
    background: #B38F5D;
}

.even{
    background: #9C7A4B;
}

.inode {
  background: #D46C34;
}

/*Pop up menu*/
.black_overlay{
            display: none;
            position: absolute;
            top: 0%;
            left: 0%;
            width: 100%;
            height: 150%;
            background-color: black;
            z-index:1001;
            -moz-opacity: 0.8;
            opacity:.80;
            filter: alpha(opacity=80);
        }

.white_content {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    /* box-shadow */
    -webkit-box-shadow: rgba(87,61,19,2) 0 0 8px;
    -moz-box-shadow: rgba(87,61,19,2) 0 0 8px;
    box-shadow: rgba(87,61,19,2) 0 0 8px;
    display: none;
    position: absolute;
    top: 5%;
    left: 20%;
    width: 65%;
    height: 85%;
    padding: 16px;
    border: 4px black;
    background-color: #B09C7F;
    z-index:1002;
    overflow-y:scroll;
    font-size: 20px;
    font-weight: bold;
    color: #E8E3DC;
}

hgroup h1{
    font-size:30px;
    font-weight: bold;
    color: white;
}

hgroup h2{
    font-size:20px;
    font-style: normal;
    color: #383838;
}

.h3{
    font-size:20px;
    font-style: normal;
    color: black;
}

.tutbutton {
    padding:7 25 7 25;
    background-color:#7A5441;
    color: #FFFFFF;
    transition:.2s;
}

.tutbutton:hover{
    background-color:#8C654A;
}

.introlink {
    color:#614A35;
}

.helpfont {
    color: #453319;
}

/*
    Content within boxes
*/

/*
    Box IDs: 1 - 2 - 3 - 4
*/
#box1 {
    margin-left: 10px;
}

#tutorial{
    color:#FFFFFF;
    background:#BD924D;
    margin: 30 70 20 70;
    padding: 30 30 30 30;
    font-size: 16;
    font-weight: bold;
    float: center;
    text-align: center;
}

.ext2title {
    font-size:30px;
    font-weight: bold;
    padding: 10 0 10 8;
    color:#000000;
}

/* From codeitdown.com/css-round-buttons/
   Used for colour scheme changes. */
.round-button {
    display:inline-block;
    width:20px;
    height:20px;
    border: 1px solid #ffffff;
    border-radius: 50%;
    cursor: pointer;
    overflow: hidden;
}
